/* global selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Roboto Slab", Roboto, system-ui, sans-serif;
  font-weight: 400;

  /* theme colours */
  --color-blue: #00a7e1;
  --color-red: #f06449;
  --color-yellow: #ffbc42;
  --color-dark: #0d1f2d;
  --color-light: #f5f5f5;

  /* font sizes */

  /* font weights */

  /* line heights */

  /* letter spacings */

  /* border radius */
  --border-radius: 20px;

  /* box shadows */

  /* transition speeds */

  /* z-index */

  /* media queries */

  /* heights */
  --nav-height: 4.5rem;

  /* padding */
  --grid-padding: 1rem;

  /* other */
}

body {
  background-color: var(--color-yellow);
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

/* nav section */
.navigation-strip {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--color-dark);
  padding: var(--grid-padding) var(--grid-padding) var(--grid-padding) var(--grid-padding);
}

.nav-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--color-dark);
  line-height: 1.1;
  text-align: center;
}

.nav-intro h1 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-red);
  padding-left: 1ch;
  padding-right: 1ch;
}

.nav-intro h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-light);
  display: none;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

  /* z-index: 10; */
  gap: 2ch;
}

.nav-link {
  color: var(--color-light);
  text-decoration: none;
  margin-left: 20px;
}

.main-grid {
  display: grid;
  /* grid-template-columns: 1fr 3fr; */
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
  column-gap: var(--grid-padding);
  background-color: var(--color-dark);
  padding-left: var(--grid-padding);
  padding-right: var(--grid-padding);
}

aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 0.5rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}

main {
  background-color: var(--color-yellow);
  border-radius: var(--border-radius);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-blue);
  border-radius: 20px;
}

figcaption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-dark);
  padding-top: 0.5ch;
}

figure p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-dark);
}

.intro img {
  max-width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-color: var(--color-yellow);
  border-width: 3px;
  border-style: solid;
  filter: drop-shadow(1px 1px 0.25rem var(--color-yellow));
}

.nav-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: var(--color-light);
  padding: 0.5rem;
}

.nav-card h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--color-red);
  margin-bottom: 0.5rem;
}

.nav-card-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 0;
  background-color: var(--color-light);
}

.nav-card-content p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-dark);
  margin-left: 0.5rem;
}

.nav-card-content p:hover {
  /* color: var(--color-yellow); */
  font-weight: 500;
  cursor: pointer;
}

.svg-inline {
  flex-grow: 0;
  width: 1rem;
  height: 1.7rem;
  margin-right: 1rem;
  fill: var(--color-blue);
}

.svg-inline:hover {
  fill: var(--color-yellow);
  width: 1.2rem;
  margin-right: 0.8rem;
  transform: rotate(8deg);
}

.nav-card-content li {
  padding-left: 1rem;
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-dark);
  color: var(--color-red);
}
